* {
  font-family: Helvetica, sans-serif;
  color: rgb(96, 96, 96);
  box-sizing: border-box;
}

body {
  @media (max-width: 768px) {
    margin: 16px;
  }
  @media (min-width: 768px) {
    margin: 50px;
  }
}

.general-text {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 28px;
  margin-top: 28px;
}

.container-box {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    justify-items: stretch;
    width: 350px;
  }
}

.tabs {
  h2 {
    background: rgb(229, 229, 229);
    padding: 12px 12px;
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    border: 1px solid white;
    text-align: center;
    @media (min-width: 768px) {
      grid-row: 1;
    }
  }
}

.details {
  padding-top: 16px;
  padding-left: 12px;
  dl,
  span {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    animation: 1.5s blendin;
    @keyframes blendin {
      from {
        opacity: 0;
      }
      to {
        opacity: 100;
      }
    }
  }

  @media (min-width: 768px) {
    width: 350px;
    height: 100px;
    border: 1px solid rgb(158, 158, 158);
    border-top: 0;
    grid-row: 2;
    justify-self: left;
    grid-column: 1 / 4;
  }
}

.details-list {
  dl {
    display: grid;
    grid-template-columns: 120px auto;
  }
  @media (min-width: 768px) {
    dd {
      margin-left: 0;
    }
  }
}

.list-title {
  margin-bottom: 16px;
  @media (min-width: 768px) {
    grid-column: 1;
  }
}

.active {
  h2 {
    background: rgb(236, 224, 253);
    color: rgb(127, 51, 238);
    border-bottom: 1px solid rgb(127, 51, 238);
  }
}

.hidden {
  display: none;
}

.input-section {
  margin-top: 30px;
  padding: 12px;
  border: 1px solid rgb(158, 158, 158);
  font-weight: 300;
  font-size: 14px;
  @media (min-width: 768px) {
    width: 350px;
  }
}

.input-field {
  width: 30px;
  height: 24px;
  padding: 4px;
  margin-right: 8px;
}
